<br/>
<h3> <b> Self-introduction guide</b> </h3>

<p>
  1. Introduce yourself. It can be difficult to write because there are so many things to say about yourself.
  It is not easy to simply and clearly write down all the experiences you have won, the talents you have, and the skills you have.
  Whatever type of writing you plan to write and whatever your purpose may be, imagine introducing yourself to a stranger.
</p>

<p>
  2. Let's start by identifying talents and interests. If you don't know where to start, make a list.
</p>

<p>
  3. Let's narrow down the topic. Choose a specific topic, explain it in detail, and use it to introduce yourself.
</p>

<p>
  4. Use good details.
  Add stories that readers will find interesting when narrowing down to a specific topic.
  Remember that you're portraying yourself, and add details that make it positive.
</p>

<p>
  5. Be humble. Even if you have achieved a lot and have a lot of talent, you should always be humble.
  I do not write articles that boast of myself. List achievements and successes, but in humble language.
</p>
