<div>
    <div class = "information">
        <h4> - 이름 : </h4>
        <p style = "font-size: larger"> &nbsp; {{ page.name }} </p>
    </div>
    <div class = "information">
        <h4> - 닉네임 : </h4>
        <p style = "font-size: larger"> &nbsp; {{ page.short_name }} </p>
    </div>
    <div class = "information">
        <h4> - 지위 : </h4>
        <p style = "font-size: larger"> &nbsp; {{ page.position }} </p>
    </div>
    <div class = "information">
        <h4> - 이메일 :  </h4>
        <p style = "font-size: larger"> &nbsp; {{ page.email }} </p>
    </div>
    <div class = "information">
        <h4> - 소속 :  </h4>
        <p style = "font-size: larger"> &nbsp; {{ page.belong }} </p>
    </div>
    <div class = "information">
        <h4> - ID :  </h4>
        <p style = "font-size: larger"> &nbsp; {{ page.ID }} </p>
    </div>
    <div class = "information">
        <h4> - 가입일 :  </h4>
        <p style = "font-size: larger"> &nbsp; {{ page.date }} </p>
    </div>
    <div class = "information">
        <h4> - 소셜 :  </h4>
        <p style = "font-size: larger"> &nbsp; {{ page.social }} </p>
    </div>
</div>

