<nav>
    <ul class="nav" role="menu">
        <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
        <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
        <li class="nav-AllPost" role="menuitem"><a href="{{site.baseurl}}allpost/">All Post</a></li>
        <li class="nav-TagPost" role="menuitem"><a href="{{site.baseurl}}tagpost/">Tag 별 Post</a></li>
        <li class="nav-TagPost" role="menuitem"><a href="{{site.baseurl}}categorypost/">Category 별 Post</a></li>
    </ul>
</nav>
