<nav class="{{ include.class }}" id="{{ include.id }}" {{ include.attr }}>
  <ul>
    <li><a href="{{ '/' | relative_url }}">HOME</a></li>
    <li><a href="{{ '/about' | relative_url }}">ABOUT</a></li>
    <li><a href="{{ '/all' | relative_url }}">POSTS</a></li>
    <li><a href="{{ '/tags' | relative_url }}">TAGS</a></li>
    <li><a href="{{ '/categories' | relative_url }}">CATEGORIES</a></li>
    <li><a href="{{ '/series' | relative_url }}">SERIES</a></li>

    {% for category in site.category-pages %}
    <li><a href="{{ category.url | relative_url }}">{{ category.title | upcase }}</a></li>
    {% endfor %}
  </ul>
</nav>
