.about_introduction {
  display: flex;
  align-content: flex-start;
  display : flex;
  color: #3ea3fa;
  font-size: larger;
}

.about_information {
  display: flex;
}

.about_supervisor {
  text-align: start;
  border: 2px solid gray;
  margin: 10px 30px 30px 5px;
  border-radius: 10px;
  background: white;
  width: 250px;
}

.about_page_body {
  align-items: start;
  margin-top: 10px;
  display: flex;
}

.about_list {
  display: flex;
  color: #025291;
  margin : 0px 0px 0px 80px;
}

strong {
  display: flex;
  font-size: 18px;
  color: darkblue;
  margin: 10px 10px 10px 10px;
}

#item {
  width: 50%;
  margin: 0 auto;
}

img {
  display: flex;
  align-items: baseline;
  align-content: center;
}
