.about_introduction {
  display: flex;
  align-content: flex-start;
  display : flex;
  color: #3ea3fa;
  font-size: larger;
}

.about_information {
  display: flex;
}

.about_supervisor {
  text-align: start;
  border: 2px solid gray;
  margin: 10px 30px 30px 5px;
  border-radius: 10px;
  background: white;
  width: 250px;
}

.about_page_body {
  align-items: start;
  margin-top: 10px;
  display: flex;
}

.about_list {
  display: flex;
  color: #025291;
  margin : 0px 0px 0px 80px;
}

strong {
  display: flex;
  font-size: 18px;
  color: darkblue;
  margin: 10px 10px 10px 10px;
}

#item {
  width: 50%;
  margin: 0 auto;
}

img {
  display: flex;
  align-items: baseline;
  align-content: center;
}

hr {
  display: block;
  margin : 20px 0px 30px 0px;
  border-width: 2px;
}

.maintext{
  line-height: 200%;
}

a[href = "https://developers.google.com/search/docs/advanced/robots/create-robots-txt?hl=ko&ref_topic=6061961&visit_id=637740100065122931-238226223&rd=1"],
a[href = "https://developers.google.com/search#?modal_active=none"],
a[href = "http://jnwhome.iptime.org/redmine/projects/open-board/wiki/%ED%94%8C%EB%9F%AC%EA%B7%B8%EC%9D%B8%EC%9D%84_%EC%82%AC%EC%9A%A9%ED%95%9C_Jerkyll_Sitemap_%EB%A7%8C%EB%93%A4%EA%B8%B0"]
{
  color : #737373;
}

a:hover{
  color : white;
  background-color: black;
}
