$color-footer-background: #444;
$color-footer-text: $color-dark-text;

footer {
  background-color: $color-footer-background;
  height: 120px;

  section {
    > div.flex-container {
      display: flex;

      > * {
        flex: auto;

        * {
          color: $color-footer-text;
        }
      }
    }
  }
}
