$header-background-color:#333;
$header-font-color:white;

header {
  background-color: $header-background-color;
  height: 60px;

  .title {
    font: 400 24px "Outfit";
    color: $header-font-color;
  }

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

nav.in-header {
  height: 100%;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  li {
    height: 100%;
    float: left;

    a {
      @extend %flex-center;
      color: $header-font-color;
      height: 100%;
      padding: 0 12px;
      text-decoration: none;
      font-family: "Outfit";
      font-weight: 700;
    }

    a:hover:not(.active) {
      background-color: #111;
    }
  }
}
