// You can import web fonts at here.
// If you want to use HTML to import web fonts, go to _layouts/default.

* {
  margin: 0;
  font-family: "Pretendard";
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: gray;
}

.black-nav {
  background: black;
  width: 30%;
  display: flex;
  color: white;
  padding: 10px;
  font-weight: bold;
}

.editior {
  align-items: center;
  border: 2px solid gray;
  margin-top: 10px;
  border-radius: 5px;
  background: white;
  width: 20%;
}

.postlist {
  border-bottom: 3px solid #efefef;
}

.postlist a {
  font-family: "Segoe UI";
  font-size: 18px;
}

.postlist p {
  color: rgb(80, 79, 79);
  font-size: 15px;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Import SASS files at here.
@import "./layout.scss";
@import "./typo.scss";
@import "./code.scss";
@import "./about_layout.scss";
@import "./tagpost.scss";
@import "./header.scss";