h1 {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 32px;
  font-weight: 300;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

h5 {
  font-size: 18px;
  font-weight: 800;
}

h6 {
  font-size: 16px;
  font-weight: 700;
}

p,
ol,
ul {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}
