h1 {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 28px;
  font-weight: 300;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

h5 {
  font-size: 18px;
  font-weight: 800;
}

h6 {
  font-size: 16px;
  font-weight: 700;
}

p,
ol,
ul {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
}

p.meta {
  font-size: 14px;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0 0 8px;
}

article {
  margin: 0 auto;
  padding: 80px 0 40px;
  > * {
    padding: 0 $gap;
  }

  div[class*="language"] {
    padding: 0;
    margin: 20px 0;
    pre {
      padding: $gap;
      line-height: 1.5;
      border-radius: $gap;
      overflow: auto;
      code {
        color: white;
      }
    }
  }

  a,
  a > code {
    color: $color-link;
  }

  img {
    max-width: 100%;
  }

  blockquote {
    background-color: lightgray;
    margin: 24px 0;
    padding: 20px;
    border-radius: 20px;
    p {
      margin: 0;
      color: black;
    }
  }

  h1 {
    margin: 0 0 48px;
  }

  h2 {
    margin: 72px 0 30px;
  }

  h3 {
    margin: 56px 0 24px;
  }

  h4 {
    margin: 52px 0 20px;
  }

  h5 {
    margin: 48px 0 16px;
  }

  h6 {
    margin: 36px 0 16px;
  }

  p,
  ol,
  ul {
    margin: 0 0 20px;
  }

  p.meta {
    margin: 0 0 8px;
  }

  ol,
  ul {
    margin: 24px 20px;
  }

  li {
    margin: 8px 0;
  }

  li::marker {
    font-weight: 700;
  }

  ol > li {
    list-style-type: numeric;
  }

  ul > li {
    list-style-type: disc;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin: 8px 0 8px 32px;
    padding: 0;
  }
}