.introduction{
  display : flex;
  color: crimson;
  font-size: larger;
}

.information{
  display: flex;
}

.nav_bar{
  display : block;
}


.nav{
  font-family: "Arial Narrow";
  font-size: 30pt;
}

p{
  font-family: "나눔고딕 ExtraBold";
  font-size: small;
}
.editior {
  text-align : start;
  border : 2px solid gray;
  margin : 10px 10px 30px 5px;
  border-radius: 10px;
  background: white;
  width : 35%;
}

.page_body {
  align-items: start;
  margin-top : 10px;
  display: flex;
}

h1 {
  border: 3px solid #4fb1ff;
  border-radius: 5px;
  text-align : center;
  background-color: black;
  color: white;
  width: 20%;
  height: 100px;
}

h2 {
  align-self: center;
  padding : 30px;
  margin : 30px 20px 30px 0px;
  text_align : center;
  color : darkblue;
  border-radius : 25px;
}

strong{
  display: flex;
  font-size: 16px;
  color: darkblue;
  margin: 10px 10px 10px 10px;
}

#item {
  width: 50%;
  margin : 0 auto;
}

img {
  display : flex;
  align-items : baseline;
  align-content : center;
}
