.black-nav{
  background: black;
  width : 30%;
  display : flex;
  color : white;
  padding : 10px;
  font-weight: bold;

}

.editior {
  align-items: center;
  border : 2px solid gray;
  margin-top : 10px;
  border-radius: 5px;
  background: white;
  width : 20%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}