
.tagbox{
    display : grid;
    padding: 5px 0px 5px 5px;
    margin-bottom: 5px;
    border-bottom: 3px solid #efefef;
    font-size: 18px;
    margin-left: 150px;
}
.tag{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a {
    color: rgb(80, 79, 79);
    padding: 14px 16px;
    font-size: 15px;
}
