---
layout: default
---

<section class="typo-margin">
  <h1>모든 시리즈</h1>

  {% for series in site.series %}

  {% assign series-page = site.series | where: "short_name", series.short_name | first %}

  {% if series-page %}
  <h2><a href="{{ series-page.url | relative_url }}">{{ series.title }}</a></h2>
  {% else %}
  <h2>{{ series.title }}</h2>
  {% endif %}
  
  <ul>
    {% for post in site.posts %}
    {% if post.series contains series.short_name or post.series == series.short_name %}
    {% include postlist-item.html %}
    {% endif %}
    {% endfor %}
  </ul>

  {% endfor %}
</section>
