---
layout: default
---

<img src="{{ page.image | relative_url }}"
     alt="{{ page.name }}'s profile image"
     width="100%"
     height="500"
     alt="편집자 커버 이미지"
/>
<section>
  <div>
    <img src = "{{ 'assets/img/hydn/about_help.png' | relative_url }}"
         width="8%"
         height="8%"
         alt="편집자 정보"
    />
    <br />
    <h1> &nbsp;  편집자 정보 </h1> <br />
    <h3> &nbsp;&nbsp; - 이름 : <b>{{ page.name }}</b> </h3>
    <h3> &nbsp;&nbsp; - 닉네임 : <b>{{ page.short_name }}</b> </h3>
    <h3> &nbsp;&nbsp; - 지위 : <b>{{ page.position }}</b> </h3>
    <h3> &nbsp;&nbsp; - 이메일 : <b> {{ page.email }} </b> </h3>
    <h3> &nbsp;&nbsp; - 소속 : <b> {{ page.belong }} </b> </h3>
    <h3> &nbsp;&nbsp; - ID : <b> {{ page.ID }} </b> </h3>
    <h3> &nbsp;&nbsp; - 가입일 : <b> {{ page.enter-date }} </b> </h3>
    <h3> &nbsp;&nbsp; - 소셜 : <b> {{ page.social }} </b> </h3>
  </div>
  {% include paragraph-break.html %}
  <img src = "{{ 'assets/img/hydn/about_whoami.jpg' | relative_url }}"
       width="13%"
       height="13%"
       alt="편집자 정보"
  />
  <br />
  <h1> &nbsp; 자기소개 </h1>
  <br />
  <h5> {{ content }} </h5>
  {% include paragraph-break.html %}
  <img src = "{{ 'assets/img/hydn/author_text.png' | relative_url }}"
       width="8%"
       height="8%"
       alt="편집자 정보"
  />
  <br />
  <h1> &nbsp; 작성한 글 </h1>
  <br />
  <div>
    {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
    <ul>
      {% for post in filtered_posts %} {% include postlist-item.html %} {% endfor %}
    </ul>
  </div>
</section>
