---
layout: default
---

{% if page.cover %}
<img
  class="post-head-image"
  src="{{ page.cover | relative_url }}"
  height="300px"
  alt="배경 사진"
/>
{% endif %}

<section class="typo-margin">
  <!-- <h1>{{ site.title }}</h1> -->
  <h2>추천 포스트</h2>

  <ul>
    {% for post in site.posts %} 
    {% if post.featured %} 
    {% include postlist-item.html %} 
    {% endif %} 
    {% endfor %}
  </ul>

  <h2>최신 포스트</h2>
  
  <ul>
    {% for post in site.posts %}
    {% include postlist-item.html %} 
    {% endfor %} 
    {% include search.html %}
  </ul>
</section>
